*, *:before, *:after {
	box-sizing: border-box;
}

body{
	font-size:0;
	background:ivory;
}

input{
	display:block;
	margin: 50px 45% 50px;
}
h1{
	font-size: 13px;
    max-width: 65ch;
    text-align: center;
}
li{
	color:white;
}

.bottom{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.categories{
	font-size:10px;
	display:inline-block;
	text-decoration:none;
	line-height:50px;
	margin-right: 6%;
}
.daddyDiv{
	display:inline-block;
	width: 25%;
	height: 300px;
	margin-left: 6%;
	margin-top:20px;
	margin-bottom: 20px;
	vertical-align:top;
	border: 2px solid red;
	position:relative;


}
.imgDiv{
	height:150px;
	width:81%;

}
.miniDescription{
	 vertical-align:bottom;

}
.listingTitle{
	font-size:15px;
}
.scrollImg{
	height:100%;
	width:100%;
	padding-top: 5px;
    padding-left: 23px;
}
.sellerName{
	font-size:12px;
	display:inline-block;
	vertical-align:;
}
.money{
	font-size:15px;
	display: inline-block;
    color: green;
    float: right;
}
#betsy{
	width: 220px;
    height: 100px;
}



#categoryBar{
	width:100%;
	height:50px;
	background-color:red;

}
#container{
	width:100%;
	background:ivory;
	
}
#listingContainer{
	margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid lime;
    position: relative;
    width: 100%;
    background: palegoldenrod;

}
#listingContainer > *{
	display: inline-block;
	vertical-align: middle;

}
#bigImg{
	width:35%;
	

}
#right{

	width: 65%;

}

#listingDescription{
	vertical-align: top;
	width: 98%;
}
#listingImage{
	padding-top: 50px;
    padding-left: 20px;
    width: 70%;
    padding-bottom: 50px;
}
#logo{
	font-size: 30px;
    padding-top: 30px;
    margin-left: 30px;
    color:#f45800;
    display: inline-block;
}
#prettyImage{
	width:100%;
	height:400px;
}
#searchBar{
	width:100%;
	height:100px;
	background-color: ivory;
	font-size: 20px;
}
#shop{
 font-size:15px;
 color:red;
 padding-left: 5%;
}
#title{
	font-size:20px;
	color:navy;

}
#description{
	text-align: center;
    padding-left: 9%;

}
#money{
display:inline-block;
color:limegreen;
position:absolute;
bottom:0;
left:0;
}
#quantity{
display:inline-block;
color:purple;
position:absolute;
bottom:0;
right:0;

}
#listingPosition{
position:absolute;
position:relative;
bottom:0;
}
